$main-bgcolor1: #008489;
$main-bgcolor2: rgb(235, 235, 235);

$main-color: #484848;


@mixin center{
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1440px){
    .main{
        .event{
            .event-contents{
                img{
                    height: 333.33px;
                }
            }
        }

        .workspace{
            height: 500px;
        }

        .accommodation{
            height: 500px;
        }

        .experience{
            height: 500px;
        }

        .opinion{
            height: 500px;
            .opinion-article{
                .opinion-main{
                    width: 61%;
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }

        .introduction{
            .introduction-contents{
                .introduction-ttl{
                    font-size: 32px;
                }
            }
        }
    }
}

@media screen and (max-width: 1127px){

    .tablet{
        display: block;
    }

    .header{
        height: 636px;
        .header-nav{
            .menu-btn{
                content: "";
                position: absolute;
                border-bottom: solid 2px #fff;
                border-right: solid 2px #fff;
                margin: auto;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                width: 6px;
                height: 6px;
                top: 0;
                bottom: 0;
                left: 65px;
            }
            p{
                display: none;
            }
        }
        .header-contents{
            top: 170px;
            left: 87px;
        }
    }

    .main{
        .event{
            .event-contents{
                p{
                    font-size: 18px;
                    text-align: center;
                    margin: 16px 0 0;
                }
            }
        }

        .workspace{
            .workspace-contents{
                .middle{
                    .workspace-ttl{
                        width: 83%;
                        font-size: 32px;
                    }
                    .workspace-article{
                        width: 83%;
                    }
                    a{
                        width: 83%;
                    }
                }
            }
        }

        .experience{
            .experiencet-contents{
                .middle{
                    .experience-ttl{
                        width: 83%;
                        font-size: 32px;
                    }
                    .experience-article{
                        width: 83%;
                    }
                    a{
                        width: 83%;
                    }
                }
            }
        }

        .accommodation{
            .accommodation-contents{
                .middle{
                    .accommodation-ttl{
                        width: 83%;
                        font-size: 32px;
                    }
                    .accommodation-article{
                        width: 83%;
                    }
                    a{
                        width: 83%;
                    }
                }
            }
        }

        .details{
            .details-contents{
                width: 58%;
                margin: 0 auto;
                max-width: 70%;
                .flex-container{
                    display: block;
                    width: 100%;
                    max-width: 648px;
                    margin: 0 auto;
                    padding: 64px 0;   
                }
            }
            .border-top{
                width: 100%;
                max-width: 648px;
                border-bottom: 1px #fff solid;
                @include center;
            }
        }

        .opinion{
            .opinion-article{
                .opinion-main{
                    font-size: 18px;
                    line-height: 26px;
                }
                .who{
                    width: 61%;
                }
                .position{
                    width: 61%;
                }
            }
        }
    }
}

@media screen and (max-width: 743px){

    .phone{
        display: block;
    }

    .header{
        height: 540px;
        img{
            object-fit: none;
            object-position: right;
        }
        video{
            display: none;
        }
        .header-contents{
            width: 79%;
            margin-left: 32px;
            margin-right: 64px;
            top: auto;
            left: 0;
            bottom: 30px;
            .header-ttl{
                h1{
                    font-size: 32px;
                }
            }
            .mail-ttl{
                display: none;
            }
            .registration{
                display: none;
            }
            .header-details{
                display: none;
            }
        }
        .stop-btn{
            display: none;
        }
    }

    .main{
        text-align: center;
        .event{
            width: 93%;
            margin-top: 0;
            margin-bottom: 0px;
            .event-ttl{
                font-size: 24px;
            }
            .flex{
                display: block;
                .event-contents{
                    width: 100%;
                    padding: 0;
                    p{
                        margin-bottom: 32px;
                    }
                }
            }
        }

        .workspace{
            height: auto;
            flex-direction: column-reverse;
            img{
                width: 93%;
                height: 380px;
                margin-top: 40px;
                @include center;
            }
            .workspace-contents{
                width: 100%;
                margin: 0;
                .middle{
                    background-color: white;
                    .workspace-ttl{
                        width: 73%;
                        font-size: 24px;
                        text-align: left;
                    }
                    .workspace-article{
                        width: 73%;
                        text-align: left;
                        font-size: 14px;
                    }
                    a{
                        width: 73%;
                        text-align: left;
                    }
                }
            }
        }

        .experience{
            margin-bottom: 0;
            height: auto;
            flex-direction: column-reverse;
            img{
                width: 93%;
                height: 380px;
                margin-top: 16px;
                @include center;
            }
            .experience-contents{
                width: 100%;
                padding: 64px;
                margin: 0;
                .middle{
                    .experience-ttl{
                        width: 73%;
                        font-size: 24px;
                        text-align: left;
                        margin: 0;
                    }
                    .experience-article{
                        width: 100%;
                        text-align: left;
                        font-size: 14px;
                        margin: 0;
                    }
                    a{
                        width: 73%;
                        text-align: left;
                        margin: 16px 0 0 0;
                    }
                }
            }
        }

        .accommodation{
            height: auto;
            flex-direction: column-reverse;
            img{
                width: 93%;
                height: 380px;
                @include center;
            }
            .accommodation-contents{
                width: 100%;
                padding: 64px;
                margin: 0;
                background-color: white;
                .middle{
                    .accommodation-ttl{
                        width: 100%;
                        font-size: 24px;
                        text-align: left;
                        margin: 0;
                    }
                    .accommodation-article{
                        width: 100%;
                        text-align: left;
                        font-size: 14px;
                        margin: 0;
                    }
                    a{
                        width: 73%;
                        text-align: left;
                        margin: 16px 0 0 0;
                    }
                }
            }
        }

        .details{
            margin-bottom: 16px;
            .details-contents{
                text-align: left;
                width: 75%;
                max-width: 75%;
                .flex-container{
                    .details-ttl{
                        font-size: 24px;
                    }
                    .details-article{
                        font-size: 14px;
                    }
                }
            }
        }

        .opinion{
            width: 100%;
            height: auto;
            @include center;
            margin-bottom: 16px;
            flex-direction: column;
            img{
                width: 93%;
                height: 380px;
                margin-left: 16px;
                margin-right: 16px;
                margin-bottom: 16px;
            }
            .opinion-article{
                margin: 0;
                width: 100%;
                .middle{
                    .opinion-main{
                        text-align: left;
                        font-size: 14px;
                        margin-top: 64px;
                    }
                    .who{
                        text-align: left;
                    }
                    .position{
                        margin-bottom: 64px;
                        text-align: left;
                    }
                }
            }
        }

        .introduction{
            .introduction-contents{
                .introduction-ttl{
                    font-size: 24px;
                }
                .mail-ttl{
                }
                .registration{
                    input{
                        width: 428.4px;
                    }
                }
            }
        }
    }

    .footer{
        .phone-none{
            display: none;
        }
        .container{
            display: none;
        }
    }
}